<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="css/test1.css" />
</head>
<body>
<div th:replace="test1::navbar"/>

	<div class="w3-row">
		<div class="w3-col m4 l3"></div>
	</div>


	<div class="main">
	


		<!-- 	<div class="container"> -->
		<div class="w3-row">
			<div class="w3-col m4 l3">
				<!-- 		<div class="col"> -->
				<p>Register Form</p><hr/>
	<form action="/register_sub" method="post">
	<div class="block">
	<label>Login Name:</label> <br/><input class="inpu" type="text" name="Login" required="required" placeholder="Login"/><br/>
	</div>
	<div class="block">
	<label>Password: </label><br/><input class="inpu" type="password" name="password" required="required" placeholder="Password"/><br/>
	</div>
	<div class="block">
	<label>Retype Password:</label><br/> <input class="inpu" type="password" name="password_check"  placeholder="Password" required="required"/><br/>
	</div>
	<div class="block">
	<label>Email:</label> <br/><input type="email" name="email"/><br/><br/>
	</div>
	<input type="checkbox" name="checkbox" value="checkbox"/> I Agree with rules!<br/><br/>
	<input type="submit" value="Register"/>
	</form>
	<p>Red Marked Fields are Mandatory!</p>
				
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
			</div>
			<!-- 	</div> -->
		</div>
	</div>
	<!-- </div> -->
</body>
</html>