<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<!-- 		<link rel="stylesheet" type="text/css" href="gs/css/bootstrap.css"/> -->
<!-- 		<link rel="stylesheet" type="text/css" href="gs/css/style.css"/> -->
<link rel="stylesheet" type="text/css" href="/css/test2.css" />

<title>Java Academy Forum</title>

</head>
<body>

<div class="header-wrapper">
		<header id="wp-header">
			<div class="section-boxed section-header">
				<a href="/"> <img src="images/tsys.png" alt="Logo" class="logo" />
				</a> <a href="/" style="padding-left: 80px">Home</a>
				<a href="#contact">Contact</a> <span
					th:if='${not @userController.logged}'>
					<form action="/login" method="post" class="navright">				
  <span class="popuptext" id="myPopup" ><p th:text='${@userController.loginMsg}'/></span>
				<input type="text" name="login" placeholder="Login" required= 'required' /> <input
							type="password" name="password" placeholder="Password" required= 'required' /> <input
							type="submit" value="Login"
							class="linkButton linkButton a linkButton a:hover" /> <a
							class="active" href="/register" id="myBtn" style="float: right">Or
							Register</a>
					</form>
				</span> <span th:if='${@userController.logged}' class="navright"> <a
					href="/logout" style="float: right">
						<p class="logged"
							th:text="'Logged as:' + ' ' + ${@userController.LoggedPlayer?.Login}" />
				</a> <span th:if='${@userController.admin}'> <a href="/admin">Admin
							Zone</a>
						
				</span> 
				<a href="/profile">		<img src='/images/cogwheel-outline.png' alt="profile" label="Profile" onmouseover="this.src='/images/cogwheel-outline_col.png';" onmouseout="this.src='/images/cogwheel-outline.png';" />			</a>

				</span>

				<div id="logo-container" class="topmenu"></div>
				<nav class="navigation-container">
					<div id="menu" class="nav-menu"></div>
				</nav>
			</div>
		</header>

</div>
	<div id="page-body" class="spacer">
		<div class="container">
			<div class="big-grid">
				<div class="col-maincontent">
				
				
				<!-- <span th:if='${@userController.admin}'>
				<form action="/rhchange" method="post">
	<div class="block">
	<label>Insert Username:</label> <br/><input class="inpu" type="text" name="rhchange" placeholder="Username"/><br/>
	Choose User From List: 
	<select name="rhchange">
  	<option th:each='forumUser : ${ForumUser}' th:value="${forumUser.login}"> <p th:text="${forumUser.login}"/> </option>
	</select>
	</div>
	
	
	<input type="checkbox" name="setAdmin" value="setAdmin"/> Set User As Admin <br/>
	<input type="checkbox" name="setUser" value="setUser"/> Set User As Standard User<br/>
	<input type="checkbox" name="removeUser" value="removeUser"/> Remove User ! (Warrning, you can't revert that action!)<br/>
	<input type="submit" value="OK"/>
	</form>
	
	</span> -->
				
				<span th:if='${@userController.admin}'> 
						
			
				<table style="width:70%">
  <tr>
    <th>User Name</th>
    <th>User Rights</th> 
    <th> Password Change</th>
<!--      <th> Block/Unblock User</th> -->
    <th>Block User ! </th>
  </tr>
  <tr th:each='forumUser : ${ForumUser}'>
    <td><p th:text="${forumUser.login}"/></td>
    <td>
    <span th:if="${not @userService.isBan(forumUser.login)}">
    <span th:if="${@userService.isAdmin(forumUser.login)}"><a th:href='${"/rhchange?value=0&amp;rhchange="+forumUser.login}'>Set to Standard User</a></span>
    <span th:if="${not @userService.isAdmin(forumUser.login)}"><a th:href='${"/rhchange?value=1&amp;rhchange="+forumUser.login}'>Set to Admin</a></span>
   
   
    
  
    </span>
   
    </td>
    <td>
    <form action="/userPassChange" method="post" enctype="multipart/form-data">
    <input type="hidden" name="rhchange" th:value="${forumUser.login}"/>
    <input class="inpu" id="password" type="password" name="password" placeholder="Start123"/>
    <input type="submit" value="OK"/>
    </form>
    </td>
    
    <td>
    <span th:if="${not @userService.isBan(forumUser.login)}">
    <form action="/removeUser" method="post">
    <input type="hidden" name="rhchange" th:value="${forumUser.login}"/>
    <input type="checkbox" name="removeUser" value="removeUser"/> Block User 
    <input type="submit" value="OK"/>
    </form>
    </span>
    <span th:if="${@userService.isBan(forumUser.login)}">
    <a th:href='${"/rhchange?value=0&amp;rhchange="+forumUser.login}'>Unblock</a></span>
    
    </td>
  
  </tr>
  <tr>
  
  </tr>
</table>
	</span> 
				</div>
			</div>
		</div>
	</div>
</body>
</html>