<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<!-- 		<link rel="stylesheet" type="text/css" href="gs/css/bootstrap.css"/> -->
<!-- 		<link rel="stylesheet" type="text/css" href="gs/css/style.css"/> -->
<title>Java Academy Forum</title>
</head>
<body>
	<div id='right' th:replace="fragments::header" />


	<table id="center-element">
		<tr th:each='comments:${getComments}'>
			<td th:text='${comments.content}' />
			<td th:text='${comments.createdOn}' />
		</tr>
	</table>

	<form action='/add_comment' method='post'>


		<input type="text" name="content" placeholder="Enter comment" />
		 <input	type="hidden" th:value='${@forumController.topicId}' name="topicId" />
		<input type='submit' value='Save Comment' />
	</form>

</body>
</html>