<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<!-- 		<link rel="stylesheet" type="text/css" href="gs/css/bootstrap.css"/> -->
<!-- 		<link rel="stylesheet" type="text/css" href="gs/css/style.css"/> -->
<link rel="stylesheet" type="text/css" href="/css/test2.css" />

<title>Java Academy Forum</title>

</head>
<body>
<div class="header-wrapper">
<header id="wp-header">
<div class="section-boxed section-header">
<!-- <div class="navigation-container"> -->
<!-- <div class="nav-menu"> -->
<!-- </div> -->
<!-- <div class="clear"></div> -->
<!-- </div> -->
<!-- </div> -->

<!-- <div th:fragment="navbar"> -->

<!-- <p>testline</p> -->
<a href="/">	<img src="images/tsys.png" alt="Logo" class="logo"/> </a>
<a href="/" style="padding-left:80px">Home</a> <a href="#news">News</a> <a href="#contact">Contact</a>
<span th:if='${not @userController.logged}'>
<form action="/login" method="post" class="navright">
		
		<input type="text" name="login" placeholder="Login" />
		<input type="password" name="password" placeholder="Password" />
		<input type="submit" value="Login" class="linkButton linkButton a linkButton a:hover"/>
		<a class="active" href="/register" id="myBtn" style="float: right">Or Register</a>
</form>
</span>
<span th:if='${@userController.logged}' class="navright">
<a href="/logout" style="float: right">
<p class="logged" th:text="'Logged as:' + ' ' + ${@userController.LoggedPlayer?.Login}" />
</a>
<span th:if='${@userController.admin}'>
<a href="/admin">Admin Zone</a>
</span>
<a href="/profile"><img src="/images/gear1.png" alt="profile" label="Profile" class="gear"/></a>
</span>

	<div id="logo-container" class="topmenu">
	
	</div>
	<nav class="navigation-container">
	<div  id="menu" class="nav-menu">
		
</div>
</nav>
	
</div>

</header>

</div>
	<div id="page-body" class="spacer">
		<div class="container">
			<div class="big-grid">
				<div class="col-maincontent">
				
				
				
	<p> Here we will be able to change user password, email, profile pic</p>
				
				<br/>	
								<span th:if='${@userController.admin}'>
				<form action="/rhchange" method="post">
	<div class="block">
	<label>Insert Username:</label> <br/><input class="inpu" type="text" name="rhchange" required="required" placeholder="Username"/><br/>
	</div>
	
	
	<input type="checkbox" name="setAdmin" value="setAdmin"/> Set User As Admin
	<input type="checkbox" name="setUser" value="setUser"/> Set User As Standard User
	<input type="submit" value="OK"/>
	</form>
	</span>
	
	<br/>
	
	<p>Email Change</p>
	<form action="/echange" method="post">
	<div class="block">
	<label>Insert New Email Address:</label> <br/><input class="inpu" type="email" name="email" placeholder="example@example.com"/><br/>
	</div>
	
	
<!-- 	<input type="checkbox" name="setAdmin" value="setAdmin"/> Set User As Admin -->
<!-- 	<input type="checkbox" name="setUser" value="setUser"/> Set User As Standard User -->
	<input type="submit" value="OK"/>
	</form>
	
		<br/>
	
	<p>User Settings</p>
	<form action="/userSettingsChange" method="post">
	<div class="block">
	<label>Insert New Email Address:</label> <br/><input class="inpu" type="email" name="email" placeholder="example@example.com"/><br/>
	</div>
	<div class="block">
	<label>Insert Password:</label> <br/><input class="inpu" type="password" name="password" placeholder="Start123"/><br/>
	</div>
	
	
<!-- 	<input type="checkbox" name="setAdmin" value="setAdmin"/> Set User As Admin -->
<!-- 	<input type="checkbox" name="setUser" value="setUser"/> Set User As Standard User -->
	<input type="submit" value="OK"/>
	</form>
				
				
				
	
				</div>
			</div>
		</div>
	</div>
</body>
</html>