<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Java Academy Forum</title>
 		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/forum.css"/> 
</head>
<body>

<div class="container">
	<div class="row">
		<div class="col logo">
		<p>there will come page logo, short links, login stuff</p>
		
		</div>
	</div>
	
	<div class="row">
		<div class="col">
		<p> there we will got categories and topics</p>
		<ul>
		<li>
		<p>topic</p>
		</li>
		<li>
		<p>topic</p>
		</li>
				<li>
		<p>topic</p>
		</li>
				<li>
		<p>topic</p>
		</li>
				<li>
		<p>topic</p>
		</li>
		
		</ul>
		</div>
	</div>
</div>


</body>
</html>