<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="css/test2.css" />
</head>
<body>
<div id="page-body">
<div class="container">
<div class="big-grid">
<div class="col-maincontent">
<div class="page-header"></div>
<h2 class="page-title">Nazov temy	</h2>

<div class="postlist">
<div class="inner">
<div class="postbody">
<!-- <div id="post_content681244"> -->
asdasdadasdasda
<!-- </div> -->


</div>
</div>
</div>
</div>

</div>

</div>





</div>

</body>
</html>	