<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="css/test2.css" />
</head>
<body>
	<div class="container">

		<div class="bid-grid">
			<div class="col-maincontent">
				<div class="category-header">
					<a class="category-title" href="lnkst">Hardware</a>
				</div>
				<ol class="itemlist itemlist--forums itemlist--forums--full">
					<li class="itemlist__item forum_read_subforum has-lastpostavatar">
						<div class="item-inner">
							<div class="col-maincontent">
								<div class=" itemlist__item item-col-main">Topic1</div>
								<div class=" itemlist__item item-col-main">Topic2</div>
								<div class=" itemlist__item item-col-main">Topic3</div>


								<div class="category-header category-title">Software</div>
								<div class=" itemlist__item item-col-main">Topic1</div>
								<div class=" itemlist__item item-col-main">Topic2</div>
								<div class=" itemlist__item item-col-main">Topic3 asdasdasdasdasdasd</div>


								<div class="category-header category-title">KATEGORIA</div>
								<div class="category-header category-title">KATEGORIA</div>

							</div>
						</div>
					</li>
				</ol>
				<!-- 				</div> -->
			</div>
		</div>
	</div>

</body>
</html>