<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Java Academy Forum</title>
 		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/forum.css"/> 
</head>
<body>

<!-- <div class="container"> -->
<!-- 	<div class="row logo"> -->
<!-- 		<p>there will come page logo, short links, login stuff</p> -->
<!-- 		<div class="col"> -->
	
		
<!-- 		</div> -->
		
<!-- 	</div> -->
	
<!-- 	</div> -->



<div class="navbar">
  		<ul class="unlist">
			<li class="list list:last-child list a list a:hover active"><a
				href="/" class="active">Home</a></li>
			<li class="list list:last-child list a list a:hover"><a
				href="games.html">News</a></li>
			<li class="list list:last-child list a list a:hover"><a
				href="contact.html">Contact</a></li>

			<li class="list list:last-child list a list a:hover">
				<!-- <span th:if='${@userController.logged}'> <p class="watch" th:text="'Logged as:' + ' ' + ${@userController.LoggedPlayer?.Login}" /></span> -->
			</li>

			<li class="list list:last-child list a list a:hover"
				style="float: right">
				<!-- <span th:if='${not @userController.logged}'>  --><a
				class="active" href="#login" id="myBtn">Login</a> <!-- </span>  -->	
				

			</li>

		</ul>
</div>

<!-- <div class="main"> -->
<!--   <p>Some text some text some text some text..</p> -->
<!--     <p>Some text some text some text some text..</p> -->
<!--       <p>Some text some text some text some text..</p> -->
<!--         <p>Some text some text some text some text..</p> -->
<!--           <p>Some text some text some text some text..</p> -->
<!--             <p>Some text some text some text some text..</p> -->
<!--               <p>Some text some text some text some text..</p> -->
<!--                 <p>Some text some text some text some text..</p> -->
<!--                   <p>Some text some text some text some text..</p> -->
<!--                     <p>Some text some text some text some text..</p> -->
<!--                       <p>Some text some text some text some text..</p> -->
<!--                         <p>Some text some text some text some text..</p> -->
<!-- </div> -->






<!-- 	<div class="row menubar ram"> -->

<!-- 		<ul class="unlist"> -->
<!-- 			<li class="list list:last-child list a list a:hover active"><a -->
<!-- 				href="/" class="active">Home</a></li> -->
<!-- 			<li class="list list:last-child list a list a:hover"><a -->
<!-- 				href="games.html">News</a></li> -->
<!-- 			<li class="list list:last-child list a list a:hover"><a -->
<!-- 				href="contact.html">Contact</a></li> -->

<!-- 			<li class="list list:last-child list a list a:hover"> -->
<!-- 				<span th:if='${@userController.logged}'> <p class="watch" th:text="'Logged as:' + ' ' + ${@userController.LoggedPlayer?.Login}" /></span> -->
<!-- 			</li> -->

<!-- 			<li class="list list:last-child list a list a:hover" -->
<!-- 				style="float: right"> -->
<!-- 				<span th:if='${not @userController.logged}'> <a -->
<!-- 				class="active" href="#login" id="myBtn">Login</a> </span> 	<a href= "/logout" id="myBtn" class="active">Logout</a> -->
<!--  				</span> --> 

<!-- 			</li> -->

<!-- 		</ul> -->

<!-- 		<script src="gs/js/modal.js"></script> -->
<!-- 		<script src="gs/js/time.js"></script> -->
<!-- 	</div> -->









</body>
</html>