<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="css/test1.css" />
</head>
<body>

<div th:fragment="navbar">

	<div class="topmenu">
	<a href="test1.html">	<img src="images/tsys.png" alt="Logo" class="logo"/> </a>
		<a href="test1.html" style="padding-left:80px">Home</a> <a href="#news">News</a> <a href="#contact">Contact</a>
		
		
<!-- 		<a class="active" href="/register" id="myBtn" style="float: right">Register</a> -->
<!-- 		<a class="active" href="#login"  style="float: right" value="Login">Login</a> -->
		
		<a class="active" href="/register" id="myBtn" style="float: right">Or Register</a>
		<form action="/login" method="post">
		<input type="submit" value="Login" style="float: right" class="linkButton linkButton a linkButton a:hover"/>
		<span th:if='${not @userController.logged}'>
			<input type="password" name="password" placeholder="Password" class="login"/>
			<input type="text" name="login" placeholder="Login" class="login"/><br/><br/>
		</span>
		</form>
		<span th:if='${@userController.logged}'>
			<a href="/logout" style="float: right">
			<p class="logged" th:text="'Logged as:' + ' ' + ${@userController.LoggedPlayer?.Login}" />
			</a>
		</span>	
		
		
	</div>	
			


	</div>

	<div class="w3-row">
		<div class="w3-col m4 l3"></div>
	</div>


	<div class="main">
	


		<!-- 	<div class="container"> -->
		<div class="w3-row">
			<div class="w3-col m4 l3">
				<!-- 		<div class="col"> -->
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
				<p>Some text some text some text some text..</p>
			</div>
			<!-- 	</div> -->
		</div>
	</div>
	<!-- </div> -->
</body>
</html>