<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />

<!-- 		<link rel="stylesheet" type="text/css" href="gs/css/bootstrap.css"/> -->
<!-- 		<link rel="stylesheet" type="text/css" href="gs/css/style.css"/> -->
<link rel="stylesheet" type="text/css" href="css/test2.css" />

<title>Java Academy Forum</title>

</head>
<body>
	<div class="header-wrapper">
		<header id="wp-header">
			<div class="section-boxed section-header">
				<a href="/"> <img src="images/tsys.png" alt="Logo" class="logo" />
				</a> <a href="/" style="padding-left: 80px">Home</a>
				<a href="contact">Contact</a> <span
					th:if='${not @userController.logged}'>
					<form action="/login" method="post" class="navright">				
  <span class="popuptext" id="myPopup" ><p th:text='${@userController.loginMsg}'/></span>
				<input type="text" name="login" placeholder="Login" required= 'required' /> <input
							type="password" name="password" placeholder="Password" required= 'required' /> <input
							type="submit" value="Login"
							class="linkButton linkButton a linkButton a:hover" /> <a
							class="active" href="/register" id="myBtn" style="float: right">Or
							Register</a>
					</form>
				</span> <span th:if='${@userController.logged}' class="navright"> <a
					href="/logout" style="float: right">
						<p class="logged"
							th:text="'Logged as:' + ' ' + ${@userController.LoggedPlayer?.Login}" />
				</a> <span th:if='${@userController.admin}'> <a href="/admin">Admin
							Zone</a>
						
				</span> 
				<a href="/profile">		<img src='/images/cogwheel-outline.png' alt="profile" label="Profile" onmouseover="this.src='/images/cogwheel-outline_col.png';" onmouseout="this.src='/images/cogwheel-outline.png';" />			</a>

				</span>

				<div id="logo-container" class="topmenu"></div>
				<nav class="navigation-container">
					<div id="menu" class="nav-menu"></div>
				</nav>
			</div>
		</header>
</div>
	<div id="page-body">

		<div class="container">
			<div class="big-grid">
				<div class="col-maincontent">

					<!-- 	<div id='right' th:replace="fragments::header" /> -->

					<div class="category-header">
						<div class="category-title" th:text='${getCategoryById}'></div>
					</div>
					<ol class="itemlist itemlist--forums itemlist--forums--full">
						<li class="itemlist__item forum_read_subforum has-lastpostavatar"
							th:each='topic:${getTopics}'>
							<!-- 		<a th:href='${"/comment?ident=" + topic.ident}'><p th:text='${topic.content}' /><span th:text='${@commentService.getCommentCountForTopic(topic.ident)}'/></a> -->
							<div class="item-inner">
								<div class="item-col-icon forum-image">
									<img src="/images/favicon.gif" />
								</div>
								<div class="item-col-main">
									<div class="itemlist__item item-col-main">
										<a class="item-title"
											th:href='${"/comment?ident=" + topic.ident}'><p
												th:text="${topic.content}" /></a>
									</div>
								</div>
								<div class="item-col-stats">
									<span class="item-stat item-stat--topics"> <span
										class="item-stat__count formatted-numcounter"> <span
											class="item-stat__label"
											th:text='${@commentService.getCommentCountForTopic(topic.ident)}' />
											Posts
									</span>
									</span>
								</div>
								<div class="item-col-lastpost">
									Created on
									<div class="item-lastpost__info"
										th:text="${#dates.format(topic.createdOn, ' HH:mm  dd-MMM-yyyy ')}" />
								</div>
							</div>
						</li>

					</ol>
					<span th:if='${not @userController.logged}'>Log in to add
						topic!</span> <span th:if='${@userController.logged}'>
						<form action='/add_topic' method='post'>
							<textarea class="quicklogin__username-input form-control" required="required" type="text" name="content" placeholder="Enter topic" /> <input
								type="hidden" th:value='${@forumController.categoryId}'
								name="categoryId" /><br/> <input class="btn btn-success btn-createnew" type='submit' value='Save Topic' />
						</form>
					</span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>